/* Geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana;
  color: #333;
}

body {
  background-color: #102f5ef3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #102f5e;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  box-shadow: inset 0 0 13px 2px rgba(0, 0, 0, 0.2);

  & h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 5rem;
  }
}

.containe-wheit {
  background-color: #fff;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40rem;
  width: 50%;
  border-radius: 27px;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  box-shadow: inset 0 0 13px 2px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #102f5e;
}

button:hover > i {
  color: #fff;
}

button i {
  pointer-events: none;
  color: #102f5e;
  font-weight: bold;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* Todo Header */
.todo-container {
  max-width: 500px;
  max-height: 520px;
  margin-top: -9rem;
  background-color: #fdfdfd;
  padding: 2.5rem 3rem;
  border-radius: 15px;
  margin-bottom: 7rem;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.347);
  overflow: hidden;
}

#todo-list {
  max-height: 250px;
  overflow-y: auto;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* Todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
  color: #444;
}

#cancel-edit-btn:hover {
  background-color: #102f5e;
  color: #fff;
}

/* Todo Toolbar */
#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* Todo List */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
  max-height: 20rem;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background: #395169;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}

/* Tabllet */

@media screen and (max-width: 1000px) {
  body {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding: 2rem;

    & h1 {
      font-size: 60px;
    }
  }

  .containe-wheit {
    width: 100%;
    margin: auto 2rem;
  }
}

/* Celular */
@media screen and (max-width: 750px) {
  body {
    padding: 70px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding: 1rem;

    & h1 {
      font-size: 30px;
    }
  }

  .containe-wheit {
    width: 100%;
    height: 100%;
    margin: auto 2rem;
    padding: 0 0 1rem;
  }

  .todo-container {
    width: 100%;
    margin-top: -5rem;
    background-color: #fdfdfd;
    padding: 2rem 1rem;
    border-radius: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.347);
  }
}

@media screen and (max-width: 432px) {
  body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #todo-form p,
  #edit-form p {
    margin-bottom: 0.3rem;
  }
  input {
    padding: 0.2rem 0.7rem;
  }

  .container {
    display: none;
  }

  .containe-wheit {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: auto 1rem;
  }

  .todo-container {
    height: 100%;
    margin: auto;
  }
}
